{% extends "frame.twig" %}
{% block content %}
{% autoescape true %}
<h3>内容を確認してください</h3>
<form id="form" method="post" action="/post/commit">
    <input type="hidden" name="{{csrf_key}}" value="{{csrf_token}}">

    <div class="form-group">
        <label>ニックネーム</label><br>
        <div class="nickname-preview">{{ params.nickname }}</div>
        <input type="hidden" name="nickname" value="{{params.nickname}}">
    </div>

    <div class="form-group">
        <label>テキスト</label>
        <div class="body-preview">{{params.body|nl2br}}</div>
        <input type="hidden" name="body" value="{{params.body}}">
    </div>

    <input type="submit" class="btn btn-primary btn-block" value="投稿する">
</form>

<form id="back-form" method="post" action="/post/form">
    <input type="hidden" name="{{csrf_key}}" value="{{csrf_token}}">
    <input type="hidden" name="nickname" value="{{params.nickname}}">
    <input type="hidden" name="body" value="{{params.body}}">
    <input type="submit" class="btn btn-default btn-block" value="戻る">
</form>
{% endautoescape %}
{% endblock %}
