{% autoescape true %}
<div class="postform">
    <h3>投稿フォーム</h3>
    <form method="post" action="/post/commit">
        <input type="hidden" name="{{csrf_key}}" value="{{csrf_token}}">
        <div class="form-group {% if error_list.nickname %}has-error{% endif %}">
            <label>ニックネーム<em>(半角英数16文字まで)</em></label><br>
            <input type="text" name="nickname" value="{{ params.nickname }}"
                placeholder="ニックネームを入力してください" class="form-control">
            <p class="text-warning">{{error_list.nickname}}</p>
        </div>

        <div class="form-group {% if error_list.body %}has-error{% endif %}">
            <label>テキスト<em>(1000文字まで)</em></label>
            <textarea name="body" placeholder="本文を入力してください"
                class="form-control" >{{params.body}}</textarea>
            <p class="text-warning">{{error_list.body}}</p>
        </div>

        <input type="submit" class="btn btn-primary btn-block" value="投稿する">
    </form>
</div>
{% endautoescape %}